.box1{
    background-color: antiquewhite;
    border:2px solid brown;
    color:black;

}
.container{
    padding-bottom: 20px;
    width: 850px;

}
body{
    background-color: rgb(230, 255, 255);
}

h1{
    color: blue;

}